Repository NGEET/fates, pull requests merged in 2022-10, with the labels that each got.

#914 Fix mean vegetation temperature output for exact restarts
  main/FatesInterfaceMod.F90
  main/FatesRestartInterfaceMod.F90
Labels: bug - software engineering

#917 Create github workflow to add new issues to triage board automatically
  .github/workflows/add-to-gh_projects.yml
Labels: github

#916 Update to XML file structure used for patching parameter files via "BatchPatchParams.py"
  README.md
  parameter_files/patch_default_bciopt224.xml
  tools/BatchPatchParams.py
  tools/FatesPFTIndexSwapper.py
  tools/modify_fates_paramfile.py
Labels: type: tools
