Repository NGEET/fates, pull requests merged in 2024-01, with the labels that each got.

#1145 Update FatesPFTIndexSwapper.py to work with landuse dimension
  tools/FatesPFTIndexSwapper.py
Labels: type: tools

#1131 Additional (optional) output for crown area
  main/FatesHistoryInterfaceMod.F90
Labels: history output

#1130 Disable hydraulic failure mortality for leafless plants
  biogeochem/EDMortalityFunctionsMod.F90
Labels: check, mortality

#1132 Exponential-based carbon starvation mortality function
  biogeochem/EDMortalityFunctionsMod.F90
  biogeochem/FatesAllometryMod.F90
  main/EDParamsMod.F90
  main/FatesConstantsMod.F90
Labels: enhancement, parameter file, mortality
