Repository NGEET/fates, pull requests merged in 2025-05, with the labels that each got.

#1252 Refactor and standardize per-ageclass history
  biogeochem/FatesCohortMod.F90
  main/FatesHistoryInterfaceMod.F90
  main/FatesHistoryVariableType.F90
  parteh/PRTGenericMod.F90
Labels: software: bug, software: history output

#1355 Simplification of leaf phenology parameters
  biogeochem/EDCohortDynamicsMod.F90
  biogeochem/EDMortalityFunctionsMod.F90
  biogeochem/EDPhysiologyMod.F90
  functional_unit_testing/parteh/PartehDriver.py
  functional_unit_testing/parteh/parteh_controls_phenevents_v2.xml
  functional_unit_testing/parteh/parteh_controls_smoketests.xml
  functional_unit_testing/parteh/parteh_controls_variable_netc.xml
  main/EDInitMod.F90
  main/EDPftvarcon.F90
  main/FatesConstantsMod.F90
  main/FatesInventoryInitMod.F90
  parameter_files/archive/api40.0.0_pr1355_patch_params.xml
  parameter_files/fates_params_default.cdl
  parteh/PRTAllometricCNPMod.F90
  parteh/PRTAllometricCarbonMod.F90
  parteh/PRTLossFluxesMod.F90
  parteh/PRTParametersMod.F90
  parteh/PRTParamsFATESMod.F90
  testing/testing_shr/FatesFactoryMod.F90
Labels: inputs: parameter file, type: refactor, science: phenology, parameters: new

#1394 fixing a small but confusing typo in parameter file description of fates_mort_disturb_frac
  parameter_files/fates_params_default.cdl
Labels: type: clean up
