Repository NGEET/fates, pull requests merged in 2025-04, with the labels that each got.

#1368 fire mortality carbon flux history bug fix
  main/FatesHistoryInterfaceMod.F90
Labels: software: bug, science: mortality, science: fire

#1338 Seedbank by pft output
  main/FatesHistoryInterfaceMod.F90
Labels: software: history output

#1376 fix to trivial radiation transmission
  main/FatesInterfaceMod.F90
  radiation/FatesRadiationDriveMod.F90
Labels: type: bug fix, science: radiation

#1364 vegetation bin indexing
  biogeochem/EDCanopyStructureMod.F90
  biogeochem/EDPhysiologyMod.F90
  biogeochem/FatesAllometryMod.F90
  biogeophys/FatesPlantRespPhotosynthMod.F90
  main/EDParamsMod.F90
  main/FatesInterfaceMod.F90
  radiation/FatesRadiationDriveMod.F90
  testing/testing_shr/FatesFactoryMod.F90
Labels: type: refactor

#1377 Simplified leaf sun-shade fraction for two-stream
  radiation/TwoStreamMLPEMod.F90
Labels: science: radiation
